BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 100
PointerAlignment: Left
SortIncludes: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
