.editorconfig
/build
/build-release
/build-debug
/build-profile
/build-debinfo
/build-qt-debug
/build-qt-profile
/build-*/
/dist/
/deploy
/libs
/cmake/*
!/cmake/YandexHomeLibraries.cmake
!/cmake/YandexHomeConfig.cmake.in
!/cmake/CheckConsoleInstall.cmake.in
/.idea
/scratches
/resources/auth/secrets.json
.DS_Store
CMakeLists.txt.user
*.qm
__pycache__/
